<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Furry Bot - Social Unlinking</title>
</head>

<body>
	<a href="/unlink/twitter">Unlink A Twitter Account</a>
	<a href="/unlink/reddit">Unlink A Reddit Account</a>
	<a href="/unlink/discord.bio">Unlink Your Discord.Bio Account</a>
</body>

</html>
