<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Furry Bot - Unlink Website</title>
</head>

<body>
	Chose one to unlink:<br>
	<%- locals.accounts.map(s => `<a href="/unlink/confirm?type=website&id=${s.id}">${s.url}</a>`).join("<br>") %>
</body>

</html>
