<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>
		Furry Bot - Ko-Fi Donation Setup
	</title>
</head>

<body>
	<h1>
		<center>
			Ko-Fi Setup (<%= locals.username %>#<%= locals.discriminator %>)
		</center>
	</h1>

	<center>
		<p>
			Ko-Fi doesn't really give us a way to get your username, so you must provide it to us.
		</p>
		<p>
			This is either what
			you enter <a href="https://assets.furry.bot/donate/ko-fi/1.png" target="_blank">here</a> (when not logged
			in), or what is
			listed <a href="https://assets.furry.bot/donate/ko-fi/2.png" target="_blank">here</a> (when logged in).
		</p>
		<form action="/donate/ko-fi/setup" method="POST">
			<label for="name">Ko-Fi Name</label>
			<input type="text" maxlength="30" name="name">&emsp;<input type="submit" value="Go">
		</form>
	</center>
</body>

</html>
