<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>
		Furry Bot - Ko-Fi Donation Setup Finished
	</title>
</head>

<body>
	<h1>
		<center>
			Ko-Fi Setup Finished
		</center>
	</h1>

	<center>
		<h3>
			Setup finished, you can now go donate at <a href="<%= locals.link %>">ko-fi</a>.
			Make sure your name is &quot;<%= locals.name %>&quot;. If you have changed it, tell us about it in our <a
				href="<%= locals.supportServer %>">support server</a>.
		</h3>
	</center>
</body>

</html>
