<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Data Deletion Request - Furry Bot</title>
</head>

<body>
	<h2>
		<center>
			<%- locals.message %>
		</center>
	</h2>
	<center>
		This process cannot be stopped, have a good day.
	</center>
</body>

</html>
