<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Data Deletion Request - Furry Bot</title>
</head>

<body>
	<h1>
		<center>
			Are you sure you want to delete <u>all</u> of your user data? This action is not reversible.
		</center>
	</h1>
	<center>
		<button onclick="window.location.href='/delete/user/<%= locals.id %>/confirm'">Yes, I am sure</button>
		<button onclick="window.location.href='/'">Cancel</button>
	</center>
</body>

</html>
