<!DOCTYPE html>
<html lang="en">

<head>
	<title><%= locals.title || "Error" %> - Furry Bot</title>
</head>

<body>
	<h1>
		<center>
			<%= locals.status %>
		</center>
	</h1>
	<h2>
		<center>
			<%- locals.message %>
		</center>
	</h2>
</body>

</html>
