<!DOCTYPE HTML>
<html>

<head>
	<title>Furry Bot - Invited</title>
</head>

<body>
	<h1>
		<center>
			Thanks for inviting me to your server!
		</center>
	</h1>
	<h2>
		<center>
			You can use <u><%= locals.prefix %>help</u> to see what I have to offer!
		</center>
	</h2>
	<h3>
		<center>
			If you need support, join us in our <a href="<%= locals.support %>">Support Server</a>.
		</center>
	</h3>
</body>

</html>
