<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Furry Bot - Social Linking</title>
</head>

<body>
	<a href="/socials/twitter">Link Your Twitter Account</a><br>
	<a href="/socials/reddit">Link Your Reddit Account</a><br>
	<a href="/socials/discord.bio">Link Your Discord.Bio Account</a><br>
	<!--<a href="/socials/website">Link Your Website</a>-->
</body>

</html>
