<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>
		Furry Bot - Donations
	</title>
	<style>
		li {
			list-style-type: none;
		}
	</style>
</head>

<body>
	<h1>
		<center>
			Donation Methods
		</center>
	</h1>

	<center>
		<ul>
			<li>
				<a href="/donate/go/ko-fi">Ko-Fi</a>
				<a href="/donate/go/gh-sponsors">Github Sponsors</a>
			</li>
		</ul>
	</center>
</body>

</html>
